*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: inline-block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

button:has(.icon) {
	display: flex;
	align-items: center;
	gap: 0.4rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

ul {
	list-style: none;
	padding-left: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}
