@import '@splidejs/splide/css/core';

:root {
	--green: #004a3c;
	--yellow: #feca22;
	--beige: #f2ebe4;
	--dark: #292929;
	--white-coffe: #e6dbd2;
	--coffee: #7f4f2e;

	--accent: var(--green);
	--accent-2: var(--yellow);
	--fg: var(--coffee);
	--bg: var(--beige);

	--font-heading: 'New Editorial';
	--font-body: 'Space Grotesk';

	--h1: 4.3rem;
	--h2: 3.1rem;

	--spacer: 1rem;
	--spacer-2: 2rem;
	--spacer-3: 4rem;
	--spacer-4: 6rem;
	--spacer-5: 8rem;

	--transition-quick: 0.35s cubic-bezier(0.19, 1, 0.22, 1);
	--transition-medium: 0.65s cubic-bezier(0.19, 1, 0.22, 1);
	--transition-slow: 0.95s cubic-bezier(0.19, 1, 0.22, 1);
	--transition-slower: 0.95s cubic-bezier(1, -0.21, 0.84, 0.7);
}

@media (max-width: 600px) {
	:root {
		--h1: 3.1rem;
		--h2: 2rem;
	}
}

/* GLOBAL STYLES */
html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-size: 16px;
	background-color: var(--bg);
	font-family: 'Space Grotesk';
	line-height: 1.5;
	overflow-x: hidden;
}

section {
	padding: var(--spacer-3) 0;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 var(--spacer-2);
}

@media (max-width: 1024px) {
	.container {
		padding: var(--spacer);
	}
}

@media (max-width: 600px) {
	.container {
		padding: 0.5rem;
	}
}

h1,
h2,
h3,
h4 {
	font-family: 'Editorial New';
	font-weight: 300;
	color: var(--accent);
}

h1,
.h1 {
	font-size: var(--h1);
	line-height: 1.1;
}

h2,
.h2 {
	font-size: var(--h2);
}

p {
	color: var(--fg);
}

a,
span,
p {
	font-family: 'Space Grotesk';
}

/* HEADER */
header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--bg);
	z-index: 10;
}

.button-primary {
	padding: 0.53rem 3.8rem 0.5rem;
	border-radius: 4px;
	color: var(--bg);
	background: var(--accent);
	text-transform: uppercase;
	font-weight: 400;
}

.nav {
	padding: 1rem 0;
	container-type: inline-size;
	container-name: navbar;
}

.nav > .container {
	display: flex;
	justify-content: space-between;
}

.nav-left {
	width: 203px;
	display: flex;
	gap: 0.4rem;
}

.nav-toggle {
	z-index: 20;
}

.nav:has(.nav-menu[data-show="true"]) .nav-toggle {
	filter: invert(100%);
}

.nav-lang {
	color: var(--accent);
	text-transform: uppercase;
}

.nav-center > a {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.nav-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--spacer);
	position: absolute;
	top: 0;
	left: -110%;
	width: 100vw;
	height: 100vh;
	background: var(--accent);
	transition: var(--transition-slow);
}

.nav-menu * {
	color: var(--beige);
}

.nav-menu h4 {
	font-size: 10rem;
	line-height: 1;
	filter: blur(40px);
	opacity: 0;
	transition: .2s;
}

.nav-menu p {
	opacity: 0;
	transform: translateY(-6px);
}

.nav-menu-marks {
	display: flex;
	align-items: center;
	gap: var(--spacer);
}

.nav-menu-marks * {
	opacity: 0;
}

.nav-menu[data-show="true"] {
	left: 0;
}

.nav-menu[data-show="true"] h4 {
	filter: blur(0);
	opacity: 1;
	transition: var(--transition-slow) .45s;
}

.nav-menu[data-show="true"] p {
	transform: translateY(0);
	opacity: 1;
	transition: var(--transition-slow) 1.35s;
}

.nav-menu[data-show="true"] .nav-menu-marks * {
	opacity: 1;
	transition: 0.01s var(--delay);
}

@container navbar (max-width: 820px) {
	.nav-left {
		width: auto;
	}

	.nav-right {
		display: none;
	}
}

@container navbar (max-width: 600px) {
	.nav-left {
		width: 100%;
		justify-content: space-between;
	}

	.nav-center {
		display: none;
	}
}

/* HERO */
.hero {
	padding-top: var(--spacer-5);
}
.hero > .container {
	display: flex;
	gap: var(--spacer-2);
}

.hero-content {
	display: flex;
	flex-direction: column;
	gap: var(--spacer-2);
	transform: translateX(-64px);
	opacity: 0;
}

.hero-content h1 {
	line-height: 1.1;
}

.hero-content p {
	max-width: 436px;
}

.hero-cta {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: start;
	gap: var(--spacer);
	padding-top: 2rem;
	color: var(--fg);
	text-transform: uppercase;
}

.hero-cta i {
	position: absolute;
	top: 0;
	transition: var(--transition-quick);
}

.hero-cta:hover i {
	top: calc(100% + .6rem);
}

.hero-figure img {
	object-fit: cover;
	object-position: right;
	min-height: 600px;
	clip-path: inset(0 100% 0 0);
	transition: clip-path var(--transition-slower);
}

.hero-figure.mobile {
	display: none;
}

@media (max-width: 1024px) {
}

@media (max-width: 820px) {
	.hero > .container {
		flex-direction: column;
	}

	.hero-figure:not(.mobile) {
		display: none;
	}

	.hero-figure.mobile {
		display: block;
		width: 100%;
	}

	.hero-figure.mobile img {
		width: 100%;
		min-height: auto;
	}

	.hero-cta {
		display: none;
	}
}

/* MARQUEE */
.marquee {
	background-color: var(--accent);
	opacity: 0;
}

.marquee > .container {
	display: flex;
	gap: var(--spacer);
	padding: 1.6rem 0 1.5rem;
	user-select: none;
	overflow: hidden;
}

.marquee p {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	color: var(--bg);
	white-space: nowrap;
	font-size: 1.3rem;
	text-transform: uppercase;
	animation: marquee 14s linear infinite;
}

@keyframes marquee {
	0% {
		transform: translate(2%, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

/* SERVICES */
.services > .container {
	display: flex;
	gap: var(--spacer-2);
}

.services-content {
	display: flex;
	flex-direction: column;
	align-self: start;
	gap: var(--spacer);
	padding: 1.5rem;
	max-width: 436px;
	border-radius: 8px;
	background-color: var(--white-coffe);
	text-align: center;
}

.services-content p {
	text-transform: uppercase;
}

.services-content ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 0.8rem;
	height: 245px;
	text-align: left;
	color: var(--fg);
}

.services-figure {
	overflow: hidden;
}

.services-figure img {
	transition: var(--transition-quick);
	clip-path: inset(0 0 0 0);
}

.services-figure:hover img {
	transform: scale(1.08);
	clip-path: inset(5% 5% 5% 5%);

}

.services-figure figcaption {
	color: var(--accent);
	text-transform: uppercase;
	margin-top: 0.6rem;
}

@media (max-width: 1024px) {
	.services > .container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.services-content {
		margin: 0 auto;
	}
}

/* AREAS */
.areas p {
	max-width: 672px;
	text-align: center;
	margin: 0 auto var(--spacer-5) auto;
}

.areas figcaption {
	color: var(--accent);
	text-transform: uppercase;
	margin-top: var(--spacer);
}

.areas-wrapper {
	display: flex;
	flex-direction: column;
}

.areas-card:last-child {
	align-self: flex-end;
	transform: translateY(-120px);
}

.areas-card img {
	clip-path: inset(0 0 100% 0);
	transition: var(--transition-slow);
}

@media (max-width: 1220px) {
	.areas-wrapper {
		gap: var(--spacer-4);
		padding-bottom: var(--spacer-5);
	}

	.areas-card:last-child {
		align-self: flex-end;
		transform: translateY(-0);
	}
}

@media (max-width: 720px) {
	.areas-wrapper {
		justify-content: center;
		align-items: center;
	}

	.areas-card:last-child {
		align-self: center;
		transform: translateY(-0);
	}
}

/* SPLIDE */
.splide {
	padding: var(--spacer-2) 0;
}

.splide-controls {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	color: var(--accent);
}

.splide-controls .splide__name {
	width: 80px;
	white-space: nowrap;
}

@media (max-width: 600px) {
	.splide-controls {
		top: 0;
		pointer-events: none;
	}

	.splide__arrows {
		position: absolute;
		bottom: 0;
		display: flex;
		justify-content: space-between;
		width: 100%;
		pointer-events: visible;
	}
}

/*FOOTER*/
.footer {
	padding: var(--spacer-2) 0;
	background-color: var(--accent);
}

.footer a {
	position: relative;
	color: var(--accent-2);
	text-transform: uppercase;
	align-self: start;
}

.footer a::before {
	content: '';
	position: absolute;
	top: calc(100% - 4px);
	left: 0;
	width: 100%;
	height: 1px;
	background: currentColor;
	pointer-events: none;
	transform-origin: 0% 50%;
	transform: scale3d(1, 1, 1);
	transition: transform var(--transition-medium);
}

.footer a:hover::before {
	transform-origin: 100% 50%;
	transform: scale3d(0, 1, 1);
}

.footer-grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: var(--spacer-2);
}

.footer-grid div:not(.footer-social) {
	display: flex;
	flex-direction: column;
}

.footer-social {
	display: flex;
	justify-content: space-between;
	grid-column-start: 5;
	grid-column-end: 7;
}

.footer-brand {
	padding: var(--spacer-2) 0;
	opacity: 0;
}

.footer-brand svg {
	color: var(--dark);
	opacity: 0.3;
}

.footer-brand svg.mobile {
	display: none;
}

.footer-data {
	display: flex;
	justify-content: space-between;
	gap: var(--spacer-2);
}

.footer-data-r {
	display: flex;
	gap: var(--spacer-2);
}

.footer-data p {
	color: var(--beige);
}

@media (max-width: 1024px) {
	.footer-grid {
		gap: var(--spacer);
		grid-template-columns: repeat(5, 1fr);
	}

	.footer-social {
		justify-content: end;
		grid-column-start: 4;
		grid-column-end: 6;
		gap: var(--spacer-2);
	}
}

@media (max-width: 820px) {
	.footer > .container {
		display: flex;
		flex-direction: column;
		gap: var(--spacer-2);
		padding: var(--spacer-2) 0.5rem;
	}

	.footer-grid {
		grid-template-columns: repeat(4, 1fr);
	}

	.footer-social {
		grid-column-start: 4;
		grid-column-end: 4;
		flex-direction: column;
		justify-content: start;
		align-items: end;
		gap: 0;
	}
}

@media (max-width: 600px) {
	.footer-grid {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 3rem;
	}

	.footer-grid div:nth-child(2) {
		order: 3;
	}

	.footer-social {
		grid-column-start: auto;
		grid-column-end: auto;
		align-items: start;
	}

	.footer-data-r {
		flex-wrap: wrap;
		gap: 0;
	}

	.footer-brand svg:not(.mobile) {
		display: none;
	}

	.footer-brand svg.mobile {
		display: block;
	}
}
