:root {
  --green: #004A3C;
  --yellow: #FECA22;
  --beige: #F2EBE4;
  --dark: #292929;
  --white-coffe: #e6dbd2;
  --coffee: #7F4F2E;

  --accent: var(--green);
  --accent-2: var(--yellow);
  --fg: var(--coffee);
  --bg: var(--beige);
  
  --font-heading: 'New Editorial';
  --font-body: 'Space Grotesk';

  --h1: 4.3rem;
  --h2: 3.1rem;

  --spacer: 1rem;
  --spacer-2: 2rem;
  --spacer-3: 4rem;
  --spacer-4: 6rem;
  --spacer-5: 8rem;
}

/* GLOBAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  background-color: var(--bg);
  font-family: 'Space Grotesk';
  line-height: 1.5;
}

section {
  padding: var(--spacer-3) 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

h1, h2, h3, h4 {
  font-family: 'Editorial New';
  font-weight: 300;
  color: var(--accent);
}

h1, .h1 {
  font-size: var(--h1);
}

h2, .h2 {
  font-size: var(--h2);
}

p {
  color: var(--fg);
}

a, span, p {
  font-family: 'Space Grotesk';
}

/* HEADER */
header {
  padding: 1rem 0;
  position: sticky;
  top: 0;
  background-color: var(--bg);
}

.button-primary {
  padding: .53rem 3.8rem .5rem;
  border-radius: 4px;
  color: var(--bg);
  background: var(--accent);
  text-transform: uppercase;
  font-weight: 400;
}

.nav > .container {
  display: flex;
  justify-content: space-between;
}

.nav-left {
  min-width: 203px;
  display: flex;
  gap: .4rem;
}

.nav-lang {
  color: var(--accent);
  text-transform: uppercase;
}

.nav-center > a{
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* HERO */
.hero > .container {
  display: flex;
  gap: var(--spacer-2);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-2);
  max-width: 500px;
}

.hero-content p {
  width: 436px;
}

.hero-content h1 {
  line-height: 1.1;
  max-width: 10ch;
}

.hero-cta {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
  gap: var(--spacer);
  color: var(--fg);
  text-transform: uppercase;
}

/* MARQUEE */
.marquee {
  display: flex;
  gap: var(--spacer);
  padding: 1.6rem 0 1.5rem;
  background-color: var(--accent);
  overflow: hidden;
  user-select: none;
}

.marquee p {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--bg);
  white-space: nowrap;
  font-size: 1.3rem;
  text-transform: uppercase;
  animation: marquee 14s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(2%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/*SERVICES*/
.services > .container {
  display: flex;
  gap: var(--spacer-2)
}
.services-content {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: var(--spacer);
  padding: 1.5rem;
  width: 436px;
  border-radius: 8px;
  background-color: var(--white-coffe);
  text-align: center;
}

.services-content p {
  text-transform: uppercase;
}

.services-content ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: .8rem;
  height: 245px;
  text-align: left;
  color: var(--fg);
}

.services-figure figcaption {
  color: var(--accent);
  text-transform: uppercase;
  margin-top: .6rem;
}